{{>layouts/main}}
{{! Path: src/views/layouts/main.hbs }}
{{! Path: src/views/partials/formtabla.hbs }}
{{! Path: src/views/partials/header.hbs }}
{{! Path: src/views/partials/footer.hbs }}

{{#if error}}

<div class="alert alert-danger" role="alert">
  {{error}}
</div>
  
  {{/if}}
  
  {{#if success}}

<header>
  <div class="text-center mt-5">
    <h2>Añade el libro que has leído</h2>
  </div>
</header>

<div class="container">
<div class="row">
  <div class="col-md-8">
{{>partials/formtabla}}
</div>  
<div class="col-md-4 ">
<a class="h-100 d-flex align-items-center justify-content center">
    <img src="/fotos/elmedico.png" alt="el medico" width="150">
</a>
</div>
</div>
</div>

{{/if}}

{{! Path: src/views/partials/formtabla.hbs }}
{{! Path: src/views/partials/header.hbs }}
{{! Path: src/views/partials/footer.hbs }}

