

<header>
  <div class="text-center mt-5">
    <h2>Añade el libro que has leído</h2>
  </div>
</header>

<div class="container d-flex">
<div class="row">
  <div class="col-md-8">
{{> formtabla}}
  </div>
  

</div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="/javascript/intermedio.js"></script>

{{! Path: src/views/partials/formtabla.hbs }}
{{! Path: src/views/partials/header.hbs }}
{{! Path: src/views/partials/footer.hbs }}

