<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
        <h1 class="text-center">{{titulo}}</h1>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="{{imagen}}" class="card-img-top img-fluid" style="border-radius: 20px;height:150px;min-width:150px;" alt="{{doc.image}}">
            </div>
            
        </div>
    </div>
</div>