body {
    width: 100%;
    
    background: rgb(237, 245, 242);
  }
 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .navbar-brand {
    padding: 0 15px;
  }

  
  .affix {
    top: 20px;
  }
 