<body>
<form action="/saveBook" method="POST">

  <div class="container py-5">
    
    <div class="col-8 mb-3">
     
    <div class="mb-3">
  <label for="titulo" class="form-label">Título del libro</label>
  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="">
</div>
 <div class="mb-3">
  <label for="autor" class="form-label">Autor</label>
  <input type="text" class="form-control" id="autor" name="autor" placeholder="">
</div>
 <div class="mb-3">
  <label for="imagen" class="form-label">Url imagen</label>
  <input type="url" class="form-control" id="imagen" name="imagen" placeholder="">
</div>
    <div class="mb-3">
      <label class="form-label" for="genero">Género</label>
      <select class="form-select" name="genero" id="genero">
        <option selected>Elige...</option>
        <option value="historica">Histórica</option>
        <option value="thriller">Thriller</option>
        <option value="drama">Drama</option>
        <option value="romantica">Romántica</option>
        <option value="otro">Otro</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="opinion" class="form-label">Opinión</label>
      <input
        type="Number"
        name="opinion"
        class="form-control-lg"
        id="opinion"
        max="10"
        min="1"
        placeholder="1">
       
     
    </div>
  
    <div class="col-8 mb-3">
      <label for="trama" class="form-label">Trama</label>
      <textarea
        class="form-control-lg"
        name="trama"
        id="Trama"
        rows="5"
        cols="50"
      ></textarea>
    </div>
    <button class="btn btn-primary btn-block" type="summit" id="guardarBook">Guardar</button>
  </div>
</form>

 </body>