 <link rel="stylesheet" href="/css/main.css">
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      
       <img src="../css/images/ellibro.jpg" class="avatar avatar-sm  me-3 " style="border-radius: 20px; heigth:40px; width:40px" alt="..."
                 class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        {{#if @root.session}}
        <a class="nav-link" href="/books/add">Añadir libro</a>
        <a class="nav-link" href="/books/listado">Mis Libros</a>
        <a class="nav-link" href="/books/search">Buscar Libro</a>
        <a class="nav-link" href="/logout">Logout</a>
        {{/if}}
         <a class="nav-link" href="/login">Login</a>
      </div>
    </div>
  </div>
</nav>
